* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 300px;
	height: 300px;
	background: #9A9A9A;
	margin: 0px auto;
	position: relative;
}

.outer {
	width: 104px;
	height: 104px;
	border: 4px solid #FF0090;
	border-top: 4px solid #9A9A9A;
	border-radius: 52px;
	animation: out 2s linear 0s infinite;

}

@keyframes out {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*steps是除了贝塞尔曲线外的一种方式，第一个参数决定关键帧分为几部分，第二个参数决定start还是end变化*/
.inner1 {
	background: #FF0090;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 22px;
	top: 22px;
	border-radius: 30px;
	animation: hide 2s  steps(1,end) infinite;
}

.inner2 {
	background: #FE4EA3;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 22px;
	top: 22px;
	border-radius: 30px;
	animation: show 2s  steps(1,end) infinite;
}

.in11 {
	background: #FE4EA3;
	width: 50%;
	height: 100%;
	border-radius: 30px 0 0 30px;
	transform-origin: right center;
	animation: out 1s linear 0s infinite;
}

.in21 {
	background:  #FF0090;
	width: 50%;
	height: 100%;
	border-radius: 30px 0 0 30px;
	transform-origin: right center;
	animation: out 1s linear 0s infinite;
}

.in12 {
	background: #FE4EA3;
	width: 50%;
	height: 100%;
	border-radius: 0  30px 30px 0;
	position: absolute;
	top: 0;
	left: 50%;
	animation: hide 1s  steps(1,end) infinite;
}

.in22 {
	background: #FF0090;
	width: 50%;
	height: 100%;
	border-radius: 0  30px 30px 0;
	position: absolute;
	top: 0;
	left: 50%;
	animation: hide 1s  steps(1,end) infinite;
}


.in13 {
	background: #FF0090;
	width: 50%;
	height: 100%;
	border-radius: 30px 0 0 30px;
	position: absolute;
	top: 0;
	animation: show 1s  steps(1,end) infinite;
}

.in23 {
	background:  #FE4EA3;
	width: 50%;
	height: 100%;
	border-radius: 30px 0 0 30px;
	position: absolute;
	top: 0;
	animation: show 1s  steps(1,end) infinite;
}

@keyframes hide {
	0%{
		opacity: 1;
	}
	50%,100%{
		opacity: 0;
	}
}

@keyframes show {
	0%{
		opacity: 0;
	}
	50%,100%{
		opacity: 1;
	}
}

